{% block content %}

{% include 'MyAppApBundle:Rdv:menu.html.twig' with {'rappeler' : 'rappeler'} %}

  <div class="tab-content">

 <table class="table table-hover">
<tr>
{# sorting of properties based on query components #}
   <th>{{ knp_pagination_sortable(pagination, 'N.', 'c.numero')|raw }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Nom', 'a.nom')|raw }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Prénom', 'a.prenom')|raw }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Téléphone', 'a.phoneNumber')|raw }}</th>
    <th>Service</th>
    <th>Ville</th>
</tr>

{# table body #}
{% for c in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ c.date|date('d/m/y') }}</td>
    <td><a href="{{ path('myapp_estimation_voirClient', { 'id': c.id }) }}">{{ c.nom }}</a></td>
    <td>{{ c.prenom }}</td>
    <td>{{ c.phoneNumber }}</td>
    <td>{{ c.service.type|capitalize }}</td>
    <td>{{ c.city.city }}</td>
    <td><a href="{{ path('myapp_client_modifier', { 'id': c.id }) }}"><img src="{{ asset('bundles/myappap/images/pencil.png') }}"  title="Modifier"/></a></td>
</tr>

{% endfor %}
</table>
{# display navigation #}
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}</div>
  </div>  
</div>
{% endblock %}



