<!DOCTYPE HTML>
<!--
	Dopetrope 2.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

   {% stylesheets filter='cssrewrite' output='css/final.css'
        '@FrontEndSuperBundle/Resources/public/startup/flat-ui/bootstrap/css/bootstrap.css'
        '@FrontEndSuperBundle/Resources/public/startup/flat-ui/css/flat-ui.css'
        '@FrontEndSuperBundle/Resources/public/startup/common-files/css/icon-font.css'
        '@FrontEndSuperBundle/Resources/public/startup/common-files/css/animations.css'
        '@FrontEndSuperBundle/Resources/public/startup/ui-kit/ui-kit-header/css/style.css'
        '@FrontEndSuperBundle/Resources/public/startup/ui-kit/ui-kit-content/css/ui-kit-styles.css'
        '@FrontEndSuperBundle/Resources/public/startup/ui-kit/ui-kit-footer/css/ui-kit-styles.css'
        '@FrontEndSuperBundle/Resources/public/startup/ui-kit/ui-kit-price/css/ui-kit-styles.css'
        '@FrontEndSuperBundle/Resources/public/startup/samples/sample-01/css/style.css'
        '@FrontEndSuperBundle/Resources/public/css/jquery-ui.css'
        '@FrontEndSuperBundle/Resources/public/startup/ui-kit/ui-kit-price/css/ui-kit-styles.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

      

		        {% javascripts
                '@FrontEndSuperBundle/Resources/public/startup/common-files/js/jquery-1.10.2.min.js'
		        '@FrontEndSuperBundle/Resources/public/js/jquery-ui.js'
		        '@FrontEndSuperBundle/Resources/public/startup/flat-ui/js/bootstrap.min.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/modernizr.custom.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/page-transitions.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/easing.min.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/jquery.svg.js'
                '@FrontEndSuperBundle/Resources/public/startup/common-files/js/jquery.svganim.js'
		        '@FrontEndSuperBundle/Resources/public/startup/flat-ui/js/flatui-radio.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/jquery.parallax.min.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/startup-kit.js' %}
    <script src="{{ asset_url }}"></script>



{% endjavascripts %}

<script src="/css/final.css"></script>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	</head>
		<body>
		  <!-- header-1 -->
        <header class="header-1">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="#"><img src="{{ asset('bundles/myappap/images/check.png') }}"/> Startup</a>

                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li class="active">
                                    <a href="#">HOME</a>
                                </li>
                                <li>
                                    <a href="#">WORK</a>
                                </li>
                                <li>
                                    <a href="#">BLOG</a>
                                </li>
                                <li>
                                    <a href="#">CONTACT</a>
                                </li>
                            </ul>
                            <ul class="subnav">
                                <li>
                                    <a href="#">Privacy</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Advertise</a>
                                </li>
                                <li>
                                    <a href="#">Affiliates</a>
                                </li>
                                <li>
                                    <a href="#">Newsletter</a>
                                </li>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="header-1-sub">
            <div id="pt-main" class="page-transitions pt-perspective">
                <div class="pt-page pt-page-1 bg-midnight-blue">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container">
                            <h3>Lavage de vitres accessible pour tout particulier à Montréal.</h3>
                            <p class="lead">
                                La satisfaction client avant tout!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pt-page pt-page-2 bg-midnight-blue">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container">
                            <h3>Example headline.</h3>
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pt-page pt-page-3 bg-midnight-blue">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container">
                            <h3>Another example headline.</h3>
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container controls">
                    <a class="control-prev" href="#"><span class="fui-arrow-left"> </span></a>
                    <a class="control-next" href="#"><span class="fui-arrow-right"> </span></a>
                </div>
            </div>
        </section>

        <!-- content-4  -->
        <section class="content-4">
            <div class="container">
                <h3>Pourquoi vous devriez nous choisir...</h3>
                <div class="row features">
                    <div class="col-sm-4">
                        <img src="img/illustrations/retina@2x.png" alt="" width="117" height="104">
                        <h6>Qualité</h6>
                        <p>
                            You can easily combine any components in a variety of design projects. It’s easy!
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ asset('bundles/myappap/images/check.png') }}" alt="" width="104" height="104"/>
                        <h6>Service professionnel</h6>
                        <p>
                            There are a lot of different blocks that will help you to make a perfect project.
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="img/illustrations/rocket@2x.png" alt="" width="101" height="101">
                        <h6>Sourire</h6>
                        <p>
                            Use your time for generating new ideas for your startup. Take a break from the routine.
                        </p>


                    </div>
                </div>
                </div>
            </div>
        </section>
      <section class="content-20 v-center bg-midnight-blue">
        <div>
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h3>Estimation en ligne</h3>
                <div class="row">
                  <div class="col-sm-8">
                    <h6>Simple, rapide, efficace</h6>
Nous vous garantissons le prix et la qualité!
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="signup-form">

  <form id="estimation" method="post" {{ form_enctype(form) }} action="{{ path('front_end_super_estimation') }}">
  {{ form_start(form) }}
    {{ form_errors(form) }}
      <div class="form-group pull-left">
                      <label>Nom</label>
                      <div class="nom">
                        
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div> 
                     <div class="form-group pull-right">
                      <label>Prenom</label>
                      <div class="nom">
                        
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div> 


              <div class="form-group pull-left">
                      <label>Cellulaire</label>
                      <div class="nom">
                        
                        {{ form_widget(form.cellulaire, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div> 
                     <div class="form-group pull-right">
                      <label>Email</label>
                      <div class="nom">
                        
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div> 


         <label>Type de demeure:</label>
                        
                           {{ form_widget(form.houseType) }}
                       

<div class="clearfix">

<span id="houseTypeFloors">
<div class="form-group pull-left">
                                       <label class="col-sm-3 hidden-xs control-label input-sm">Nombre d'étage</label>
                                       <div  class="col-sm-6">
                                       {{ form_widget(form.houseTypeFloors, {'attr': {'class': 'form-control', 'placeholder':"houseTypeFloors" }}) }}
                                        </div>
                                        </div>
<div class="form-group pull-right">
                                       <label class="col-sm-3 hidden-xs control-label input-sm">Basement</label>
                                       <div  class="col-sm-4">
                                       {{ form_widget(form.basement, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        </div>
                                        </div>

</span>

<span id="appartTypeFloors">

                                        <div class="form-group">
                                             <label class="col-sm-6 hidden-xs control-label input-sm">Appartement situé à l'étage:</label>
                                       <div id="houseTypeFloorsAppart" class="col-sm-4">
                                       {{ form_widget(form.houseTypeFloorsAppart, {'attr': {'class': 'form-control'}}) }}
                                        </div>
</div>

</span>



                                  
{{ form_label(form.fenetres) }}
{{ form_widget(form.fenetres) }}


{{ form_rest(form) }}
        <div>
        
    </div>


<input type="submit" class="btn btn-primary" value="Actualiser la cotation" />
{{ form_end(form) }}
  </form>






                </div>
              </div>
              <div class="col-sm-4 col-sm-offset-1 features">

 <!-- price-2 -->
      <section class="price-2">
          <div class="plans">
            <div class="plan">
              <div class="title">
                ESTIMATION
                <div class="price"><span class="currency">$</span>
<span id="resultats_recherche"> 
 {% include 'FrontEndSuperBundle:Default:listePrix.html.twig' with {'prix' : prix}  %}
              </span>
                <span class="period">/ Service</span>
                </div>
              </div>
              <div class="description">
                <div class="description-box">
                  <span class="fui-cmd"></span> Lavage de vitres
                </div>
                <div class="description-box">
                  <span class="fui-mic"></span>  Cadres
                </div>
                <div class="description-box">
                  <span class="fui-user"></span>  Moustiquaires
                </div>
                <div class="description-box">
                  <span class="fui-windows"></span> <b>Qualité garantie</b> 
                </div>
              </div>
            </div>

          </div>

        <!--/.container-->
      </section>



              </div>
            </div>
          </div>
        </div>
      </section>
        <!-- content-25  -->
        <section class="content-25 bg-clouds">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>The Second Sneak-Peek of Startup Design Framework</h3>

                        <p>
                            The most important parts of the Startup Framework are Samples and the UI Kit that includes a
                            set of different components. The samples consist of a set of 25 pages.
                            Each of these pages you can use as-is or with new blocks from a UI Kit.
                        </p>

                        <p>
                            These Samples will guide you through and show how to use the blocks and give you the feeling
                            on how to play around using the components in the website building process.
                            Plus, it will save you time! You can decide whether to create your site using UI Kit blocks or
                            samples.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img class="pull-right nosvg" src="../../common-files/icons/rocket-big-grey-bg@2x.png" alt="" width="402" height="401">
                <span class="pull-right svg">
                    <svg version="1.1" id="spaceship" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="402px" height="401px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                        <circle id="bg" fill="#dfe1e2" cx="50" cy="50" r="50" />
                        <g id="Stars" clip-path="url(#starmask)">
                            <path id="star0" opacity="0.2" fill="#f6f8f8" enable-background="new    " d="M91,4.5c2.55-0.45,4.051-1.95,4.5-4.5c0.45,2.55,1.951,4.05,4.5,4.5c-2.549,0.451-4.05,1.95-4.5,4.5C95.051,6.45,93.55,4.951,91,4.5z" />
                            <path id="star1" opacity="0.1" fill="#f6f8f8" enable-background="new    " d="M91,4.5c2.55-0.45,4.051-1.95,4.5-4.5c0.45,2.55,1.951,4.05,4.5,4.5c-2.549,0.451-4.05,1.95-4.5,4.5C95.051,6.45,93.55,4.951,91,4.5z" />
                            <path id="star2" opacity="0.1" fill="#f6f8f8" enable-background="new    " d="M91,4.5c2.55-0.45,4.051-1.95,4.5-4.5c0.45,2.55,1.951,4.05,4.5,4.5c-2.549,0.451-4.05,1.95-4.5,4.5C95.051,6.45,93.55,4.951,91,4.5z" />
                        </g>
                        <clipPath id="starmask">
                            <circle cx="50" cy="50" r="50" />
                        </clipPath>
                        <clipPath id="rocketmask2">
                            <path id="rocketmask1" d="M100,50c0,27.614-22.387,50-50,50C22.386,100,0,77.614,0,50S22.386,0,50,0c14.117,0,50,0,50,0S100,36.503,100,50z" />
                        </clipPath>
                        <g id="rocket-maskgroup">
                            <g id="rocket-raw" clip-path="url(#rocketmask2)">
                                <path id="det7" fill="#E94B35" d="M100,0.1c-0.156,0.018-0.117,0.058-0.1-0.1C76.584,2.979,63.361,12.281,55.865,22.035c-0.268,0.349-0.528,0.698-0.782,1.047c-0.002,0.003-0.005,0.007-0.008,0.01C47.015,34.196,46.087,45.812,46,49h-1l-1,3l4,4l3-1v-1c1.152-0.021,3.741-0.111,7.066-0.773l0.002,0.002C58.797,53.047,59,53.305,59,57c0,4.062,0,6.609,0,9c0,1.809,0.943,2.497,1.945,1.494c2.423-2.428,3.003-3.023,8.5-8.528c4.16-4.167,4.676-6.595,2.957-11.059C83.953,41.369,96.432,27.888,100,0.1z" />
                                <path id="det6" fill="#C23824" d="M48,56l-4-4l1-3h2l4,4v2L48,56z M52,28c-1.718-0.69-2-1-4-1s-4.183,1.38-6.861,4.063c-4.254,4.259-4.85,4.839-8.516,8.508C31.425,40.771,33.263,41,36,41c5.233,0,9.297-0.125,10.791,1.42C48.764,44.46,52,28,52,28z" />
                                <path id="det5" fill="#C23824" d="M100,0C100.1,0,100,0,100,0c-0.639,4.973-1.566,9.579-2.721,13.678c-1.049-1.97-2.562-4.364-4.5-6.272c-2.151-2.12-4.812-3.632-6.826-4.585C91.979,1.091,96.783,0.412,100,0z" />
                                <path id="det4" opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M72.402,47.907c1.719,4.463,1.312,6.788-2.854,10.954c-0.844,0.844-7.828,7.859-8.604,8.633C59.941,68.496,59.033,67.809,59,66c-0.01-0.521,0.003,0.021,0-0.652c3-3,9.689-8.938,11-11.348c0.768-1.411,0.352-3.654,0-5c-3.312,1.76-11.516,4.094-11.932,4.229l0,0C54.906,53.875,52.467,53.943,51,54v-0.656c0,0,29.975-9.663,49-53.344c0.014,0-0.064,0.008,0,0C96.406,28.047,83.953,41.369,72.402,47.907z" />
                                <g id="det3">
                                    <path fill="#FFFFFF" d="M77.5,28c-3.584,0-6.5-2.916-6.5-6.5s2.916-6.5,6.5-6.5s6.5,2.916,6.5,6.5S81.084,28,77.5,28z" />
                                    <path fill="#C23824" d="M77.5,16c3.037,0,5.5,2.462,5.5,5.5S80.537,27,77.5,27S72,24.538,72,21.5S74.463,16,77.5,16 M77.5,14c-4.137,0-7.5,3.364-7.5,7.5s3.363,7.5,7.5,7.5s7.5-3.364,7.5-7.5S81.637,14,77.5,14L77.5,14z" />
                                </g>
                                <path id="det2" fill="#f4f5f6" d="M44,52l4,4L13,92l-6-6L44,52z" />
                                <path id="det1" fill="#d4d8d8" d="M43.875,52l2,2L7.5,91.5l-3-3L43.875,52z" />
                            </g>
                        </g>
                    </svg>
               </span>
                    </div>
                </div>
            </div>
        </section>


        <!-- footer-6 -->
        <footer class="footer-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <a class="brand" href="#">Startup</a>
                        </div>
                    </div>
                    <nav>
                        <div class="col-sm-2">
                            <h6>About</h6>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="#">Career</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h6>Work</h6>
                            <ul>
                                <li>
                                    <a href="#">Our Portfolio</a>
                                </li>
                                <li>
                                    <a href="#">Latest Work</a>
                                </li>
                                <li>
                                    <a href="#">Brands</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h6>Stuff</h6>
                            <ul>
                                <li>
                                    <a href="#">Privacy</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Advertise</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="col-sm-3">
                        <h6>Subscribe</h6>

                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn" type="button">
                                    <span class="fui-arrow-right"> </span>
                                </button>
                            </span>
                        </div>
                        <div class="social-btns">
                            <a href="#" ><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
                            <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
                            <a href="#"><div class="fui-vimeo"></div><div class="fui-vimeo"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
<script type="text/javascript"> 
$(document).ready(function () {
$('.radio1').radio();
$('.radio2').radio();


            $('#appartTypeFloors').hide();


    $('.radio').on('toggle', function() {

        if($('#frontend_superbundle_devis_houseType_0').is(":checked")){
            $('#appartTypeFloors').hide();
            $('#houseTypeFloors').show();
        }else if (!$('#frontend_superbundle_devis_houseType_0').is(":checked")){
            $('#appartTypeFloors').show();
            $('#houseTypeFloors').hide();
        }

    });
});




//ajouts et supp row fenetres


$(document).ready(function() {


  timeoutID = window.setTimeout(slowAlert, 1000);


function slowAlert() {
  $('[type="radio"]').radio();
  $('.spinner').spinner({ min: 1 });
}

  


  // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
  var $container = $('div#frontend_superbundle_devis_fenetres');

  // On ajoute un lien pour ajouter une nouvelle catégorie
  console.log($container);
  var $lienAjout = $('<a href="#" onclick="activerRadio()" id="ajout_fenetre" class="">Ajouter</a>');
  $container.append($lienAjout);

  // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
  $lienAjout.click(function(e) {
    ajouterCategorie($container);
    $('[type="radio"]').radio();
    $('.spinner').spinner({ min: 1 });
    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
    return false;
  });

  // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
  var index = $container.find(':input').length;

  // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
  if (index == 0) {
    ajouterCategorie($container);
  } else {
    // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
    $container.children('div').each(function() {
      ajouterLienSuppression($(this));
    });
  }

  // La fonction qui ajoute un formulaire Categorie
  function ajouterCategorie($container) {
    // Dans le contenu de l'attribut « data-prototype », on remplace :
    // - le texte "__name__label__" qu'il contient par le label du champ
    // - le texte "__name__" qu'il contient par le numéro du champ
    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1))
                                                        .replace(/__name__/g, index));

    // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
    ajouterLienSuppression($prototype);

    // On ajoute le prototype modifié à la fin de la balise <div>
    $container.append($prototype);

    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
    index++;
  }

  // La fonction qui ajoute un lien de suppression d'une catégorie
  function ajouterLienSuppression($prototype) {
    // Création du lien
    $lienSuppression = $('<a href="#" class="">Supprimer</a>');

    // Ajout du lien
    $prototype.append($lienSuppression);

    // Ajout du listener sur le clic du lien
    $lienSuppression.click(function(e) {
      $prototype.remove();
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });
  }



});


$("#estimation").submit(function(){ 
    var motcle = $('#estimation').serialize();

    $.ajax({
        type: "POST",
        url: "{{ path('front_end_super_estimation')}}",
        data: DATA,
        cache: false,
        success: function(data){
           $('#resultats_recherche').html(data);
        },
          error: function(xhr, desc, err) {
              console.log(xhr);
              console.log("Details: " + desc + "\nError:" + err);
                }
    });    
    return false;
});







</script>











	</body>
</html>