<!DOCTYPE HTML>
<!--
	Dopetrope 2.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>

   {% stylesheets filter='cssrewrite' output='css/final.css'
        'bundles/frontendsuper/startup/flat-ui/bootstrap/css/bootstrap.css'
        'bundles/frontendsuper/startup/flat-ui/css/flat-ui.css'
        'bundles/frontendsuper/css/custom.css'
        'bundles/frontendsuper/startup/common-files/css/icon-font.css'
        'bundles/frontendsuper/startup/common-files/css/animations.css'
        'bundles/frontendsuper/startup/ui-kit/ui-kit-header/css/style.css'
        'bundles/frontendsuper/startup/ui-kit/ui-kit-content/css/ui-kit-styles.css'
        'bundles/frontendsuper/startup/ui-kit/ui-kit-footer/css/ui-kit-styles.css'
        'bundles/frontendsuper/startup/ui-kit/ui-kit-price/css/ui-kit-styles.css'
        'bundles/frontendsuper/startup/samples/sample-01/css/style.css'
        'bundles/frontendsuper/css/jquery-ui.css'
        'bundles/frontendsuper/css/jquery-ui-smooth.css'
        'bundles/frontendsuper/startup/flat-ui/images/favicon.ico'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}



		        {% javascripts
                '@FrontEndSuperBundle/Resources/public/startup/common-files/js/jquery-1.10.2.min.js'
		        '@FrontEndSuperBundle/Resources/public/js/jquery-ui.js'
		        '@FrontEndSuperBundle/Resources/public/startup/flat-ui/js/bootstrap.min.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/modernizr.custom.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/page-transitions.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/easing.min.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/jquery.svg.js'
                '@FrontEndSuperBundle/Resources/public/startup/common-files/js/jquery.svganim.js'
		        '@FrontEndSuperBundle/Resources/public/startup/flat-ui/js/flatui-radio.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/jquery.parallax.min.js'
		        '@FrontEndSuperBundle/Resources/public/startup/common-files/js/startup-kit.js' %}
    <script src="{{ asset_url }}"></script>



{% endjavascripts %}

<script src="/css/final.css"></script>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54321500-1', 'auto');
  ga('send', 'pageview');

</script>


	</head>
		<body>
		  <!-- header-1 -->
        <header class="header-1">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="#">
                            {#<img src="{{ asset('bundles/myappap/images/check.png') }}"/>#}
                                Votre laveur de vitres</a>

                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li class="active">
                                    <a href="#">HOME</a>
                                </li>
                                <li>
                                    <a href="#work">WORK</a>
                                </li>
                                <li>
                                    <a href="#quote">GET A QUOTE</a>
                                </li>
                                <li>
                                    <a href="#contact">CONTACT</a>
                                </li>
                            </ul>
                         
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="header-1-sub">
            <div id="pt-main" class="page-transitions pt-perspective">
                <div class="pt-page pt-page-1 bg-midnight-blue">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container">
                 {#           <h3>Lavage de vitres à Montréal.</h3>#}
                            <p class="lead">
                                La satisfaction client avant tout!
                            </p>
                        </div>
                    </div>
                </div>
              {#  <div class="pt-page pt-page-2 bg-midnight-blue">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container">
                            <h3>Example headline.</h3>
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>#}
           {#     <div class="pt-page pt-page-3 bg-midnight-blue">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container">
                            <h3>Another example headline.</h3>
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>#}
               {# <div class="container controls">
                    <a class="control-prev" href="#"><span class="fui-arrow-left"> </span></a>
                    <a class="control-next" href="#"><span class="fui-arrow-right"> </span></a>
                </div>#}
            </div>
        </section>

        <!-- content-4  -->
        <section id="work" class="content-4">
            <div class="container">
                <h3>Pourquoi vous devriez nous choisir...</h3>
                <div class="row features">
                    <div class="col-sm-4">
                        <img src="{{ asset('bundles/frontendsuper/images/archery_target@2x.png') }}" alt="" width="50" height="104">
                        <span class="center"><h6>Qualité</h6></span>
                        <p>
                            You can easily combine any components in a variety of design projects. It’s easy!
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ asset('bundles/frontendsuper/images/tea_cup@2x.png') }}" alt="" width="50" height="104"/>
                        <h6>Service professionnel</h6>
                        <p>
                            There are a lot of different blocks that will help you to make a perfect project.
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ asset('bundles/frontendsuper/images/gift@2x.png') }}" alt="" width="50" height="101">
                        <h6>Sourire</h6>
                        <p>
                            Use your time for generating new ideas for your startup. Take a break from the routine.
                        </p>


                    </div>
                </div>
                </div>
            </div>
        </section>
      <section id="quote" class="content-20 v-center bg-midnight-blue">
        <div>
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h3>Estimation en ligne</h3>
                <div class="row">
                  <div class="col-sm-12">
                    <h6 style="display: inline;">Simple, rapide, efficace</h6> {#->Nous vous garantissons le prix et la qualité!#}
<br>
<br>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="signup-form">

  <form id="estimation" method="post" {{ form_enctype(form) }} action="{{ path('front_end_super_estimation') }}">
  {{ form_start(form) }}
    {{ form_errors(form) }}
      <div class="form-group pull-left">
                      <label class="labelForm">Nom</label>
                      <div class="nom">
                        
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div> 
                     <div class="form-group pull-right">
                      <label class="labelForm">Prenom</label>
                      <div class="nom">
                        
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div> 


              <div class="form-group pull-left">
                      <label class="labelForm">Cellulaire</label>
                      <div class="nom">
                        
                        {{ form_widget(form.cellulaire, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div> 
                     <div class="form-group pull-right">
                      <label class="labelForm">Email</label>
                      <div class="nom">
                        
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div> 

<div class="form-group">
    <label class="col-sm-5 pull-left">Type de demeure:</label>
    {{ form_widget(form.houseType, {'attr': {'class': 'from-group pull-left'}}) }}
</div>

<div class="form-group">
         <label class="col-sm-3 pull-left" style="display: inline;">Service:</label>
                        
                           {{ form_widget(form.intExt, {'attr': {'class': 'from-group'}}) }}


</div>

                                  
{{ form_label(form.fenetres) }}
{{ form_widget(form.fenetres) }}

<span id="ajout"></span>
{{ form_rest(form) }}
        <div>
        
    </div>


<input type="submit" class="btn btn-primary" value="Actualiser la cotation" />
{{ form_end(form) }}
  </form>






                </div>
              </div>
              <div class="col-sm-3 features">

 <!-- price-2 -->
      <section class="price-2">
          <div class="plans">
            <div class="plan">
              <div class="title">
                ESTIMATION
                <div class="price"><span class="currency">$</span>
<span id="resultats_recherche" style="min-width: 204px;">
 {% include 'FrontEndSuperBundle:Default:listePrix.html.twig' with {'prix' : prix}  %}
              </span>
                <span class="period">/ Service</span>
                </div>
              </div>
              <div class="description">
                <div class="description-box">
                  <span class="fui-cmd"></span> Lavage de vitres
                </div>
                <div class="description-box">
                  <span class="fui-mic"></span>  Cadres
                </div>
                <div class="description-box">
                  <span class="fui-user"></span>  Moustiquaires
                </div>
                <div class="description-box">
                  <span class="fui-windows"></span> <b>Qualité garantie</b> 
                </div>
              </div>
            </div>

          </div>

        <!--/.container-->
      </section>



              </div>
            </div>
          </div>
        </div>
      </section>
        

        <!-- footer-6 -->
        <footer id="contact" class="footer-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <a class="brand" href="#">Startup</a>
                        </div>
                    </div>
                    <nav>
                        <div class="col-sm-2">
                            <h6>About</h6>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="{{ path('myapp_front_index') }}">Intranet</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h6>Work</h6>
                            <ul>
                                <li>
                                    <a href="#">Our Portfolio</a>
                                </li>
                                <li>
                                    <a href="#">Latest Work</a>
                                </li>
                                <li>
                                    <a href="#">Brands</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h6>Stuff</h6>
                            <ul>
                                <li>
                                    <a href="#">Privacy</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Advertise</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="col-sm-3">
                        <h6>Subscribe</h6>

                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn" type="button">
                                    <span class="fui-arrow-right"> </span>
                                </button>
                            </span>
                        </div>
                        <div class="social-btns">
                            <a href="#" ><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
                            <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
                            <a href="#"><div class="fui-vimeo"></div><div class="fui-vimeo"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
<script type="text/javascript"> 


//ajouts et supp row fenetres


$(document).ready(function() {


  timeoutID = window.setTimeout(slowAlert, 1000);


function slowAlert() {
  $('[type="radio"]').radio();
  $('.spinner').spinner({ min: 1 });
}

  


  // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
  var $container = $('div#frontend_superbundle_devis_fenetres');
var $containerr = $('#ajout');
  // On ajoute un lien pour ajouter une nouvelle catégorie
  console.log($container);
  var $lienAjout = $('<a href="#" onclick="activerRadio()" id="ajout_fenetre" class="">Ajouter des Fenêtres</a>');
  $containerr.append($lienAjout);

  // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
  $lienAjout.click(function(e) {
    ajouterCategorie($container);
    $('[type="radio"]').radio();
    $('.spinner').spinner({ min: 1 });
    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
    return false;
  });

  // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
  var index = $container.find(':input').length;

  // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
  if (index == 0) {
    ajouterCategorie($container);
  } else {
    // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
    $container.children('div').each(function() {
      ajouterLienSuppression($(this));
    });
  }

  // La fonction qui ajoute un formulaire Categorie
  function ajouterCategorie($container) {
    // Dans le contenu de l'attribut « data-prototype », on remplace :
    // - le texte "__name__label__" qu'il contient par le label du champ
    // - le texte "__name__" qu'il contient par le numéro du champ
    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1))
                                                        .replace(/__name__/g, index));

    // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
    ajouterLienSuppression($prototype);

    // On ajoute le prototype modifié à la fin de la balise <div>
    $container.append($prototype);

    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
    index++;
  }

  // La fonction qui ajoute un lien de suppression d'une catégorie
  function ajouterLienSuppression($prototype) {
    // Création du lien
    $lienSuppression = $('<a href="#" class="">Supprimer</a>');

    // Ajout du lien
    $prototype.append($lienSuppression);

    // Ajout du listener sur le clic du lien
    $lienSuppression.click(function(e) {
      $prototype.remove();
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });
  }



});






$(document).ready(function() {

   //listen for the form beeing submitted
   $("#estimation").submit(function(){
      //get the url for the form
      var url=$("#estimation").attr("action");
   var form = $('#estimation');
      //start send the post request
       $.post(url,{
           formName: form.serializeArray(),
           other:"attributes"
       },function(data){
           //the response is in the data variable

              //if you want to print the error:
              $('#resultats_recherche').html(data);
           
       });//It is silly. But you should not write 'json' or any thing as the fourth parameter. It should be undefined. I'll explain it futher down

      //we dont what the browser to submit the form
      return false;
   });


});
















</script>











	</body>
</html>