{% extends 'MyAppApBundle:ContratClient:voirLayout.html.twig' %}

{% block content %}

<div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>
            <img src="{{ asset('bundles/myappap/images/logo.png') }}" width="500" />
            </a>
          </h1>
        </div>
        <div class="col-xs-6 text-right">
          <h1>{{ contrat.contratEstimation }}</h1>
          <h1><small> <b>#{{ contrat.numero }}</b></small></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>From: <a href="#">Laure DUHAMELET</a></h4>
            </div>
            <div class="panel-body">
              <p>
                #180, Villeneuve Est <br>
                Montréal, QC <br>
                H2T-1L5 <br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>To : <a href="#">{{ contrat.production.client.prenom|upper }} {{ contrat.production.client.nom|upper }}</a></h4>
            </div>
            <div class="panel-body">
             <p> {{ contrat.production.client.number}}
        {{ contrat.production.client.street|capitalize }}<br>
        {{ contrat.production.client.city.city|capitalize }}<br>
        {{ contrat.production.client.pc|upper }}<br>

   {% for s in contrat.production.client.phones %}
        {{ s.phoneType.id }}<br>
        {% endfor %}
    {% for s in contrat.production.client.phones %}
        {{ s.phone}}<br>
        {% endfor %}
        {{ contrat.production.client.email }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
 <thead>
          <tr>
            <th>
              <h4>Service</h4>
            </th>
            <th>
              <h4>Description</h4>
            </th>
            <th>
              <h4>Rate/Price</h4>
            </th>
          </tr>
        </thead>
        <tbody>



{% for s in contrat.clientService %}

    <tr>
        <td>{{ s.service.type|upper }}</td>
        <td>{{ s.note|capitalize }}</td>
        <td>{{ s.prix|number_format(2, ',', '.') }} $</td>      
    </tr>    
</table>
        <br>

{% else %}
    <tr>
    <td>Aucun services trouvés</td>
    </tr>
{% endfor %}
        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
          <p>
            <strong>
            Sub Total : <br>
            Dépôt: <br>
            TAX : <br>
            Total : <br>
            </strong>
          </p>
        </div>
        <div class="col-xs-2">
          <strong>
          {{ total['0']['1']|number_format(2, ',', '.') }} $ <br>
          {{ contrat.depot|number_format(2, ',', '.') }} $ <br>
          N/A <br>
          {{ balance|number_format(2, ',', '.') }} $ <br>
          </strong>
        </div>
      </div>
<p>
 <h4>Détails :{{ contrat.contratEstimation|lower }}: </h4><br>
Date production: {{ contrat.production.dateProd|date('d/m/y') }}
<h4>Détails production:</h4> 
{{ contrat.production.note|capitalize}}</p>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>Signature details</h4>
            </div>
            <div class="panel-body">
              <p>Signature Entrepreneur:</p>
              <p>Signature Client:</p>
              <p>Date signature: ____ / ____ / ________</p>
            </div>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="span7">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>Contact Details</h4>
              </div>
              <div class="panel-body">
                <p
                  {% if contrat.production.client.email is defined %}Email : {{ contrat.production.client.email|upper }}<br><br> {% endif %}
                  Mobile : {% for phone in contrat.production.client.phones %}<br>{{ phone.phoneType.id|upper }} :{{ phone.phone|upper }} {% endfor %}<br> <br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <p><b>Termes et Conditions du contrat:</b></p>
<p>Devis: L'ensemble des détails des travaux à executer est present sur le devis. Aucuns travaux non-inscrits ne seront effectués.</p>
<p>Défauts non-visibles: Le contrat est effectué aprés une inspection visuelle or advenant des difficultés qui n'auraient pu être décelées lors du devis, une réévaluation sera faite avec le client suite aux défauts apparus.</p>
      </div>
    </div>


{% endblock %}