{% extends 'MyAppApBundle::layout.html.twig' %}
{% block title %}
    Fiche client: {{ client.nom|upper }} {{ client.prenom|capitalize }}
{% endblock %}
{% block previous %}
<a href="{{ path('myapp_estimation_suivant', { 'id': client.id, 'client': client, 'param':'Prev' }) }}"> Précèdent</a>
{% endblock %}
{% block next %}
<a href="{{ path('myapp_estimation_suivant', { 'id': client.id, 'client': client, 'param':'Next' }) }}"> Suivant</a>
{% endblock %}
{% block recherche %}
 <span style="float:left;">
                        <a href="{{ path('myapp_estimation_suivant', { 'id': client.id, 'client': client, 'etat': client.etat, 'param':'Prev' }) }}"><img src="{{ asset('bundles/myappap/images/arrow-left2.png') }}"/></a>
                        <span>État: {{ client.etat }}</span>
                        <a href="{{ path('myapp_estimation_suivant', { 'id': client.id, 'etat': client.etat, 'param':'Next' }) }}"><img src="{{ asset('bundles/myappap/images/arrow-right2.png') }}"/></a>

<p style="display: inline;">Payé:</p>
                    <h2 style="display: inline;"><strong>{% if sumContratClient %}
                    {{ sumContratClient|number_format(0, '.', ',')  }}$
                    {% else %}
                    0$ | 0
                    {% endif %}
                    </strong></h2>  
                    <p style="display: inline;padding-left:10px;">Signé:</p>
                    <h2 style="display: inline;"><strong>{% if sumSigneClient %}
                    {{ sumSigneClient|number_format(0, '.', ',')  }}$ | {{ countSigneClient }}
                    {% else %}
                    0$ | 0
                    {% endif %}
                    </strong></h2> 
                    <p style="display: inline;padding-left:10px;">Produit:</p>
                    <h2 style="display: inline;"><strong>{% if sumProduitClient %}
                    {{ sumProduitClient|number_format(0, '.', ',')  }}$ | {{ countProduitClient }}
                    {% else %}
                    0$ | 0
                    {% endif %}
                    </strong></h2> 
                        </span>
                        <span >
                           <span style="font-size:10px;padding-left:15px; float:right;">  Service demandés: {{ client.service.type|capitalize }}     <br>    </span> 



   <span style="font-size:10px; float:right;"> Créé par: {{ client.user|capitalize }} le {{ client.dateTable.date|date('d M y') }}</span>
                        </span>
{% endblock %}



{% block principalNote %}  

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

        <div class="">
         <div class="">
            <div class="" id="main">
                <div class="col-xs-12 col-sm-8">
                    <p><strong>Adresse: </strong> {{ client.number }} {{ client.street }} </p><br>
                    <p>{{ client.city.city|capitalize }}, {{ client.pc|upper }}</p>
                    <p><strong>Mail: </strong><a href="mailto:{{ client.email }}">{{ client.email }}</a> </p>
                    <p><strong>Téléphone: </strong>
                    {% for p in client.phones %}
    {{ p.phoneType.phoneType|capitalize }}: {{ p.phone }}
    <br>
{% else %}
        Aucun Téléphone.
{% endfor %}

                       
                    </p>
                    <p><strong>Services done: </strong>
                        <span class="tags">lavage de vitres</span> 
                        <span class="tags">peinture</span>
                    </p>
                    <br>
<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalNote">Notes({{ notes|length }}) </button>
<br>
<br>
<a class="btn btn-info btn-block" href="{{ path('myapp_client_modifier', { 'id': client.id }) }}"> <span class="fa fa-user"></span>Modifier Profil</a>

                </div>             
             
            </div>            
        </div>


                    <div class="right-map">
<table id="map">
            <tr>
                <td>
                    {{ google_map_container(map) }}
                    {{ google_map_js(map) }}
                </td>
            </tr>
            <tr>
                <td>
                    
                        <figcaption class="ratings">
                            <p>Ratings
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                </td>
            </tr>
            </table>
            </div>





<div class= "info-client">             

{% endblock %}
    
{% block right %}
<div id="services">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        
        <span>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4>Services({{ clientServices|length }})</h4>
            </a>
            
        </span>
      </h4>
      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModall" style="float:right;">Ajouter Service</button>
    </div>

    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
    {% if clientServices %}

{% for s in clientServices %}
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
                      <img src="http://placehold.it/500x300" alt="">
            <div class="caption">
            <span class="dateSpan"><b>{{ s.created|date('d/m/y') }}</b></span>
            <p>{{ s.service.type }}</p>
            <p>{{ s.prix|number_format(2, '.', '.') }}$</p>
            <p>{{ s.note|capitalize }}</p> 
            <p><a href="{{ path('myapp_service_supprimerService', { 'idd': s.id,'id': client.id  }) }}" onclick="return confirm('are you sure?')"><img src="{{ asset('bundles/myappap/images/cross.png') }}" title="Supprimer service"/></a></p>
          
        {% if s.image.webpath is defined %}
        <p><span class="icone"><img src="{{ asset(s.image.webPath) }}" alt="{{ s.image.alt }}" class="img-polaroid"  width="100px" height="100px" /></span></p>
         {% endif %}
               </div>
    </div>
  </div>

{% endfor %}
{% else %}
    <p>Aucun Services trouvés</p>
 {% endif %}
      </div>
    </div>
  </div>
</div>

  

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">

        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <h4>Contrats:({{ clientservicestest|length }})</h4>
        </a>

      </h4>
       <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" style="float:right;">Ajouter Contrat</button>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       {% if clientservicestest %}

        <table class="table table-hover">
<tr>
{# sorting of properties based on query components #}
    <th>Date créé:</th>
    <th>Numéro:</th>
    <th>Services:</th>
    <th>Prix:</th>
    <th>Date au contrat:</th>
    
</tr>
                        {% for co in clientservicestest %}
        <tr>
            <td><span class="dateSpan">{{ co.created|date('d/m/y') }}:</b></span></td>
            <td><a href="{{ path('myapp_contrat_voir', { 'id': co.id }) }}">{{ co.numero }}</a></td>
            <td>{{ co.service }}</td>
            <td>{{ co.prix }}$</td>


            {% if co.date != null %}
                <td>{{ co.date|date('d M y') }}</td
            {% else %}
                <td>N/A</td>
            {% endif %}
         </tr>       
{% else %}
    <tr>
        <td>Aucunes contrats trouvées</td>
    </tr>
{% endfor %}
</table>



{% endif %}
      </div>
    </div>
  </div>





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ render(controller("MyAppApBundle:Contrat:ajouter", { 'id': client.id })) }}
</div>



<!-- Modal -->
<div class="modal fade" id="myModall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ render(controller("MyAppApBundle:Client:creerService", { 'id': client.id })) }}
</div>


<!-- Modal -->
<div class="modal fade" id="myModalNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div id="note">


<div class="loading"></div>
<div id="resultats_notes"> 
    {% include 'MyAppApBundle:Note:liste.html.twig' with {'notes' : notes}  %}
</div>
</div> 
</div>

</div>



        {% endblock %}
